<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent access to .htaccess files
    <Files ".htaccess">
        Order Allow,Deny
        Deny from all
    </Files>

    # Redirect all requests to /public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>