<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent access to .htaccess
    <Files ".htaccess">
        Order Allow,Deny
        Deny from all
    </Files>

    # Don't rewrite requests to existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all other URLs to index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>